body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Helvetica, sans-serif;
}

header {
    background-color: #fc5;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 18pt;
    color: #fc5;
    margin-bottom: 7px;
}

h3 {
    background-color: #aaa;
    font-weight: bold;
    padding: 5px 2px;
}

p {
    margin: 10px 0;
}

strong {
    color: #fff;
    font-weight: bolder;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fc5;
}

aside {
    width: 200px;
    margin: 5%;
}

footer {
    background-color: #aaa;
    position: relative;
    width: 1000px;
    height: 30px;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

#navbar a {
    color: #fff;
    font-weight: bolder;
}

#navbar {
    margin-top: 20px;
}

#navbar li {
    display: inline;
    margin: 0 20px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#main {
    max-width: 100%;
}

#categories li {
    margin: 5px;
}

.post {
    margin-top: 30px;
}

.header-post {
    margin-bottom: 20px;
}

.preview-post a {
    color: #fc5;
}

@media only screen and (max-width: 1000px){
    aside {
        width: 80%;
    }

    footer {
        width: 80%;
        padding: 5px 0;
    }

    #main {
        max-width: 80%;
    }

    .post {
        max-width: 100%;
    }
}
